[Unit]
Description=Google Assistant
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -m googlesamples.assistant

[Install]
WantedBy=multi-user.target

